* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.button-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
    background-color: #FD6E0A;

}

/* header and navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left, bottom right;
}

.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-subtitle {
    font-size: 600;
    font-size: 45px;
    margin-bottom: 5px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-p {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.section-describe {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-name {
    color: #757575;
    font-weight: 400;
    font-size: 20px;
}

.info-description {
    color: #474747;
    font-weight: 700;
    font-size: 20px;
}

/* What i do styles */
.what {
    margin-top: 130px;
    background: #ffffff;
    border-radius: 10px;
    padding: 130px 150px;
}

.skills-container {
    display: flex;
    gap: 24px;
}
.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
}

.skill-describe {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
}
.section-title {
    margin-top: 130px;

}